.fund-brief {
  flex: 1;
}

.fund-row {
  margin-bottom: 2px;
}

.right-arrow {
  align-items: center;
  color: gray;
  display: flex;
  margin-left: 10px;
  transform: translateY(2px);
}

.fund-code {
  font-size: 16px;
  margin-right: 8px;
}

.fund-type {
  margin-right: 8px;
}
