.search-input {
  border-radius: 15px / 50%;
}

.key-binding {
  display: flex;

  .key-icon {
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;
    cursor: default;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 20px;

    &:last-of-type {
      margin-left: 5px;
    }
  }
}

.cancel-button {
  color: gray;
  margin-left: 10px;
}
