html,
body,
#root {
  height: 100%;
  margin: 0;
}

/* ant design override */
.ant-layout {
  height: 100%;
}

/* global variables */
:root {
  /* colors */
  --yellow-star: #ffbb00;
  --gray-tiny: #f0f0f0;
  --green-down: green;
  --red-up: red;
}
